@font-face {
    font-family: 'myText';
    font-display: auto;
    src: local("Times New Roman"), serif;
    font-weight: normal;
}

@font-face {
    font-family: 'myText';
    font-display: auto;
    src: local("Times New Roman"), serif;
    font-weight: bold;
}
